header {
    background-color: #CCCCCC;
    margin: 3px;
    padding: 3px;
    max-width: 500px;
    text-align: center;
    border:0.15em solid rgba(190, 136, 35, 0.849);
}

header p {
    display: inline-block;
    font-size: 1em;
}

.sword:hover {
    text-transform: uppercase;
    font-weight: 900;
}

body {
    max-width: 500px;
    margin: auto;
    background-image: url(background.jpg);
    text-align: center
}

div#winCounter{
    
    max-width: 500px;
}

div#winCounter p {
    max-width: 133px;
    margin: auto;
    display: inline-block;
}

button {
    display:inline-block;
    max-width: 150px;
    padding:0.2em 1.45em;
    margin:auto;
    border:0.15em solid rgba(190, 136, 35, 0.849);
    box-sizing: border-box;
    text-decoration:none;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
    position:relative;
}

button:disabled {
    background-color: antiquewhite;
}

button#sword:hover {
    text-transform: uppercase;
    font-weight: 900;
    
}

button#reset {
    display: block;
    margin: auto;
    
}
button:hover {
    background-color:rgb(236, 136, 70);
    border: 0.15em solid rgba(190, 136, 35, 0.849);
}

img {
    max-width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    padding: 10px;
}

section.picks, section.history {
    max-width: 500px;
    
}

.pickDiv {
    display: inline-block;
    max-width: 133px;
    margin: auto;
}

.history div, .historyDiv p {
    display: inline-block;
    max-width: 133px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

.pickDiv img {
    max-width: 30px;
    height: 30px;
    margin: auto;
    padding: 0.2px;
}

.historyDiv img {
    max-width: 30px;
    height: 30px;
    margin: auto;
    padding: 0.2px;
}

#computerPick, #playerPick, #pHistory, #cHistory {
    margin-bottom: 2px;
}


